<div class="page-two">
    <!-- start: logo -->
    <div class="page-two__logo">
        <img class="page-two__logo-img" src="assets/img/logo.png"
            alt="Logo Rick and Morty">
    </div>
    <!-- end: logo -->
    <!-- start: content -->
    <div class="page-two__content">
        <!-- start: filters -->
        <app-filters
            (filtersEvent)="handlerFiltersCharacters($event)">
        </app-filters>
        <!-- start: filters -->
        <!-- start: characters -->
        <app-characters
            [characters]="characters">
        </app-characters>
        <!-- end: characters -->
        <!-- start: pagination -->
        <app-pagination-simple
            *ngIf="pagination"
            [pagination]="pagination"
            [currentPage]="page"
            (changePageEvent)="handlerChangePage($event)">
        </app-pagination-simple>
        <!-- end: pagination -->
    </div>
    <!-- end: content -->
</div>
