<div class="pagination text">
    <!-- start: prev button -->
    <app-button
        text="Anterior"
        [disabled]="disabledPrevButton"
        (clickEvent)="handlerPrevPage()">
    </app-button>
    <!-- end: prev button -->
    <!-- start: current page -->
    <p class="pagination__text">
        {{ currentPage }} de {{ pagination?.pages }}
    </p>
    <!-- end: current page -->
    <!-- start: next button -->
    <app-button
        text="Siguiente"
        [disabled]="!pagination?.next"
        (clickEvent)="handlerNextPage()">
    </app-button>
    <!-- end: next button -->
</div>