@import "../../../assets/variables/mixins.scss";

.home {
    width: 100%;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home__logo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}

.home__logo-img {
    width: 60%;
    margin: 20px;
    @include tablet {
        width: 50%;
    }
    @include desktop {
        width: 30%;
    }
}

.home__content {
    width: 90%;
    margin: 0 auto;
}


